<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kelompok7.kosanretrofit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-feature android:name="android.hardware.camera"/> -->

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kosan "
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".SewaActivity" />
        <activity android:name=".PenyewaActivity" />
        <activity android:name=".KamarActivity" />
        <activity android:name=".Kamar2Activity" />
        <activity android:name=".Penyewa2Activity" />

        <activity android:name=".Sewa2Activity" />
        <activity android:name=".Create.InsertPenyewaActivity" />
        <activity android:name=".Create.InsertKamarActivity" />
        <activity android:name=".Create.InsertSewaActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>